
.cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  body {
    background-color:black;
  }

p {
    color:rgb(255, 255, 255);
    font-family:Cinzel;
    font-weight:550;
}